{% load static %}

<div class="row">
    <div class="col-md-4">
      <h4>Address</h4>
      <hr>
      Sundar bag, chaitanya nagar,<br>
      Dhankawadi, Pune
    </div>

    <div class="col-md-4">
      <h4>Quik Links</h4>
      <hr>
      <a href="/home" style="text-decoration: none;">Home</a>
      <a href="/about" style="text-decoration:none ;">About</a>
      <a href="/contact" style="text-decoration: none;">Contact</a>
    </div>

    <div class="col-md-4">
      <h4>social media</h4>
      <hr>
      <a href=" https://www.facebook.com/"><i class="bi bi-facebook icon-link-hover fa-6x text-primary m-3"></i></a>
      <a href="https://www.instagram.com/"><i class="bi bi-instagram fa-6x text-primary m-3"></i></a>
      <a href=" https://www.whatsapp.com/"><i class="bi bi-whatsapp fa-6x text-primary m-3"></i></a>
      <a href=" https://www.twitter.com/"><i class="bi bi-twitter fa-6x text-primary m-3"></i> </a>
      <a href=" https://www.linkedin.com/"><i class="bi bi-linkedin fa-6x text-primary m-3"></i></a>
      <a href=" https://www.youtube.com/"><i class="bi bi-youtube fa-6x text-primary m-3"></i></a>
      <a href=" https://www.facebook.com/"><i class="bi bi-telephone fa-6x text-primary m-3"></i></a>
    </div> <!--footer end-->
  </div>
</div>

<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/popper.js" %}'></script>
</body>

</html>