<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "js/bootstrap.min.js" %}'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <style>
    i {
      font-size: large;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 "><i class="bi bi-cart-check-fill">SHOPPINGWALA</i>

        <!--header section start -->
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border body navbar-dark" data-bs-theam="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">E-cart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/infodata">Profile</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/user_logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
               {% endif %}
              
              </ul>
            </div>
          </div>
        </nav>
      </div> <!--Header end -->
    </div>